<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Tap Room {{month}}/{{day}}/{{year}}</h1>

  <p *ngFor="let keg of kegs">{{keg.name}} || {{keg.brand}} || {{keg.type}} || {{keg.alcholContent}} || ${{keg.price}} <button (click)="sellPint(keg)">Sell</button>  Avails: {{keg.pints}} <button (click)="editKeg(keg)">Edit</button></p>
</div>


<div *ngIf="selectedKeg">
    <h3>{{selectedKeg.description}}</h3>
    <h3>Edit Tap</h3>
    <label>Name:</label>
    <input [(ngModel)]="selectedKeg.name"><br>
    <label>Brand:</label>
    <input [(ngModel)]="selectedKeg.brand"><br>
    <label>Type:</label>
    <input [(ngModel)]="selectedKeg.type"><br>
    <label>Alchol %:</label>
    <input [(ngModel)]="selectedKeg.alcholContent"><br>
    <label>Price:</label>
    <input [(ngModel)]="selectedKeg.price"><br>

    <button (click)="finishedEditing()">Done</button>
  </div>
